<div class="main">
  <div class="LeftPart">
    <button (click)="decreasePage()" class="SwitchPage" *ngIf="!sessionService.isConductingInvestigation && sessionService.page > 1">
          <img alt="page icon" [src]="'/assets/return_icon.png'">
    </button>
  </div>
  <div class="Book">
    <div class="Page">
      <img class="BookPage" [src]="'/assets/BookPixelRightPage.png'" alt="Page droite du livre">
      <div class="leftPageText">
        <h2 style="text-align: center; font-size: 130%">{{ sessionService.currentInvestigationOnPage.title }}</h2>  <br>

        <div class="description">
          {{ sessionService.currentInvestigationOnPage.description }}
          <button class="button"   (click)="OpenDialogueDetailInvestigation()">
            <img alt="question icon" [src]="'/assets/question_icon.png'">
          </button>
        </div>
        <br>
        {{ sessionService.correctionMessage }}
        <div class="NumPageLeft"> Page: {{ sessionService.page }} </div>
      </div>
    </div>
    <div class="Page">
      <img class="BookPage" [src]="'/assets/BookPixelLeftPage.png'" alt="Page gauche du livre">
      <div class="rightPageText">

        <div style="margin-top: 15%">
          <div *ngIf="sessionService.currentInvestigationOnPage.completion">
            <img [src]="'/assets/checkFull.png'" alt="Check vert" class="verif">
          </div>
          <div *ngIf="!sessionService.currentInvestigationOnPage.completion">
            <img [src]="'/assets/checkEmpty.png'" alt="Croix rouge" class="verif">
          </div>
        </div>
        <button class="ButtonInvestigation" id="BoutonSelection" *ngIf="!sessionService.isConductingInvestigation" (click)="selectInvestigation()">Sélectionner</button> <br>
        <button class="ButtonInvestigation" *ngIf="sessionService.isConductingInvestigation" (click)="validateResponse()">Valider mes réponses</button> <br>
        <button class="ButtonInvestigation" *ngIf="sessionService.isConductingInvestigation" (click)="abandonInvestigation()">Abandonner</button> <br>
        <div class="NumPageRight"> Page: {{ sessionService.page + 1 }} </div>
      </div>
    </div>
  </div>
  <div class="RightPart">
    <button (click)="increasePage()" class="SwitchPage" *ngIf="!sessionService.isConductingInvestigation  && sessionService.page < sessionService.investigations.length*2-1">
      <img alt="page icon" [src]="'/assets/inversed_return_icon.png'">
    </button>
  </div>
</div>
