<board class="board" #board>
  <ng-container *ngIf="data.investigation.board_type === 'DRAGGABLE' && data.media.trustWorthy">
    <div cdkDrag cdkDragBoundary=".board" [style.width.%]="mediaWidthRatio*100" [cdkDragFreeDragPosition]="mediaLocation.pos" (cdkDragEnded)="onDragEnd($event)" class="mediaLocation">
    </div>
    <draggable-media-on-board [media]="data.media"
                              [style.width.%]="mediaWidthRatio*100"
                              [board]="board"
                              cdkDragBoundary=".board"/>
  </ng-container>
  <ng-container *ngIf="data.investigation.board_type === 'VALIDABLE' || !data.media.trustWorthy">
    <draggable-media-on-board [media]="data.media"
                              [style.width.%]="mediaWidthRatio*100"
                              [board]="board"
                              cdkDragBoundary=".board"/>
  </ng-container>
</board>
