<div [style.left.%]="media.posX*100"
     [style.top.%]="media.posY*100"
     (click)="openDialog()"
     class="media_on_board">
  <img class="stamp" *ngIf="media.userTrustWorthy != null && media.userTrustWorthy" alt="checkmark" src="/assets/checkmark.png">
  <img class="stamp" *ngIf="media.userTrustWorthy != null && !media.userTrustWorthy" alt="crossmark" src="/assets/crossmark.png">
  <img class="picture" alt="Media picture" [src]="media.picture">
</div>
<ng-template #dialog>
  <img *ngIf="media.type == 'img'" class="media" alt="Media" [src]="media.link">
  <video *ngIf="media.type == 'video'" class="media" controls>
    <source [src]="media.link" type="video/mp4">
  </video>
  <button (click)="mediaIsTruthworthy()">V</button>
  <button (click)="mediaIsNotTruthworthy()">X</button>
</ng-template>
