<div [style.left.%]="media.posX*100"
     [style.top.%]="media.posY*100"
     (click)="openDialog()"
     class="media_on_board">
  <img class="stamp" *ngIf="media.userTrustWorthy != null && media.userTrustWorthy" alt="checkmark" src="/assets/checkmark.png">
  <img class="stamp" *ngIf="media.userTrustWorthy != null && !media.userTrustWorthy" alt="crossmark" src="/assets/crossmark.png">
  <img class="picture" alt="Media picture" [src]="media.picture">
</div>
<ng-template #dialog>
  <div class="dialog">
  <img *ngIf="media.type == 'img'" class="media" alt="Media" [src]="media.link">
  <video *ngIf="media.type == 'video'" class="media" controls>
    <source [src]="media.link" type="video/mp4">
  </video>
  <div class="vbox">
    <button  class="button V" (click)="mediaIsTruthworthy()"><img alt="checkmark" src="assets/pixel_checkmark.png"></button>
    <button class="button X" (click)="mediaIsNotTruthworthy()"><img alt="crossmark" src="assets/pixel_crossmark.png"></button>
  </div>
  </div>
</ng-template>
