.button{
  position: absolute;
  background-color: transparent;
  image-rendering: pixelated;
  border: none;
  cursor: pointer;
  outline: none;
  top: 1vh;
  left: 1vh;
  width: 8vh;
}

.button img {
  width: 100%;
  height: 100%;
}

.button img:hover{
  -webkit-filter: drop-shadow(0 0 0.5vw lightgrey);
}
