<div class="MainPage">
  <div class="mainContentinscription" *ngIf="showInsciption">
    <h2>Connexion</h2>
    <form>
      <mat-form-field>
          <input  placeholder="Email" type="email" id="email" name="email" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input placeholder="Mot de passe" type="password" id="password" name="password"  required>
      </mat-form-field>
      <br>
      <button class="ButtonConnection" type="submit">Se connecter</button>
    </form>
    <div class="BoutonSupp">
      Pas de compte ? <button class="ButtonInscription" (click)="showInscriptionToggled()">s'inscrire</button>
      <br>
      <br>
      <button class="ContinuInvite">
        Continué en tant qu'invité
      </button>
    </div>
  </div>


  <div class="mainContentinscription" *ngIf="!showInsciption">
    <h2>Inscription</h2>
    <form>
      <mat-form-field>
        <input  placeholder="Email" type="email" id="mailInscription" name="email" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input placeholder="Nom" type="nom" id="nomInscription" name="nom" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input placeholder="Mot de passe" type="password" id="mailPassword" name="password"  required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input placeholder="Confirmer mot de passe" type="password" id="mailPasswordVerif" name="password"  required>
      </mat-form-field>
      <br>
      <button class="ButtonConnection" type="submit">S'inscrire</button>
    </form>
    <div class="BoutonSupp">
      Deja un compte ?
      <button class="ButtonInscription" (click)="showInscriptionToggled()">se connecter</button>
      <button class="ContinuInvite">
        Continué en tant qu'invité
      </button>
    </div>
  </div>
</div>
