h1.titremenu{
  font-size: 300%;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(13px);
  z-index: 999;
}
div.menulaterale{
  text-align: center;
  margin-top: 10%;
}
button{
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
button.menubutton {
  border: none;
  outline: none;
  cursor: pointer;
  margin: 1%;
  font-size: 200%;
  background-color: transparent;
}
button.boutonmenu {
  position: absolute;
}
