
<div class="mainContent">
  <div class="container">
    <h1>Contexte</h1>
    "Enquêtes à MarsActu" est un projet étudiant réalisé dans le cadre de la SAE3&4.A.01. Il s'agit d'un serious game visant à sensibiliser contre les fausses informations générées par l'intelligence artificielle, tout en encourageant les utilisateurs à la vérification des sources.
    <h1>Objectifs</h1>
    Dans ce jeu, vous devrez mener des enquêtes que vous choisirez dans le livre d'enquêtes disponible sur le bureau. Une fois une enquête sélectionnée, des éléments se seront ajoutés au tableau en liège (des médias) et à l'ordinateur (des sites). Un bouton vous expliquera les étapes à suivre pendant cette enquête. Une fois que vous penserez avoir les bonnes réponses, vous retournerez au livre pour valider vos réponses et savoir si elles sont justes ou fausses.
  </div>
</div>
