.main{
  display: flex;
  width: 75%;
  margin: auto;
}

.Book{
  display: flex;
  image-rendering: pixelated;
}

.Page{
  position: relative;
  flex: 1;
}

.BookPage{
  width: 100%;
  height: 100%;
  z-index: 0;
}

.leftPageText{
  position: absolute;
  left: 15%;
  top: 5%;
  height: 80%;
  width: 80%;
  z-index: 2;
}

.NumPageLeft{
  position: absolute;
  left: 0;
  bottom: 0;
}

.NumPageRight{
  position: absolute;
  right: 0;
  bottom: 0;
}

.rightPageText{
  position: absolute;
  right: 15%;
  top: 5%;
  height: 80%;
  width: 80%;
  z-index: 2;
}

.LeftPart, .RightPart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.verif{
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  display: flex;
  height: 60%;
  width: 60%;
}

.SwitchPage {
  background-color: transparent;
  border: none;
  cursor: pointer;
  image-rendering: pixelated;
  width: 4vw;
}

.SwitchPage img{
  width: 100%;
  height: 100%;
}

.SwitchPage img:hover{
  -webkit-filter: drop-shadow(0 0 0.5vw lightgrey);
}

.SwitchPage:disabled{
  visibility: hidden;
  pointer-events: none;
}

.ButtonInvestigation {

  margin: 5% auto -5%;
  margin-bottom: 2%;
  display: flex;
  background-color: peru;
  color: #fff;
  padding: 1vw 1vw;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;

}

.button{
  position: absolute;
  background-color: transparent;
  image-rendering: pixelated;
  border: none;
  cursor: pointer;
  outline: none;
}

.button img {
  width: 100%;
  height: 100%;
}

.button img:hover{
  -webkit-filter: drop-shadow(0 0 0.5vw lightgrey);
}

.ButtonInvestigation:hover {
  background-color: #dc964c;
  transform: scale(1.05);
}

.explanationDialog{
  background-color: #f4f4f4;
  padding: 1%;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border: #333333 10px solid;
}
