<div class="main">
  <div class="LeftPart">
    <button (click)="decreasePage()" class="SwitchPage" [disabled]="isConductingInvestigation || getPage() <= 1">
          <img alt="page icon" src="/assets/game_assets/icons_assets/return_icon.png">
    </button>
  </div>
  <div class="Book">
    <div class="Page">
      <img class="BookPage" src="/assets/game_assets/book_assets/BookPixelRightPage.png" alt="Page droite du livre">
      <div class="leftPageText">
        <h2 style="text-align: center; font-size: 130%">{{ currentInvestigationOnPage.title }}</h2>
        <div class="description">
          {{ currentInvestigationOnPage.description }} <br>
          <button class="button" (click)="openDialogExplanation()">
            <img alt="question icon" [src]="'/assets/game_assets/icons_assets/white_question_icon.png'">
          </button>
        </div>
        <div class="NumPageLeft"> Page: {{ getPage() }} </div>
      </div>
    </div>
    <div class="Page">
      <img class="BookPage" src="/assets/game_assets/book_assets/BookPixelLeftPage.png" alt="Page gauche du livre">
      <div class="rightPageText">

        <div style="margin-top: 5%">
          <div *ngIf="currentInvestigationOnPage.completion">
            <img src="/assets/game_assets/book_assets/checkFull.png" alt="Check vert" class="verif">
          </div>
          <div *ngIf="!currentInvestigationOnPage.completion">
            <img src="/assets/game_assets/book_assets/checkEmpty.png" alt="Croix rouge" class="verif">
          </div>
        </div>
        <ng-container *ngIf="!isConductingInvestigation">
          <button class="ButtonInvestigation" id="BoutonSelection" *ngIf="!currentInvestigationOnPage.completion" (click)="selectInvestigation()">Commencer l'enquetes</button>
          <button class="ButtonInvestigation" id="RetryButton" *ngIf="currentInvestigationOnPage.completion" (click)="restartInvestigation()">Réessayer</button>
        </ng-container>
        <ng-container *ngIf="isConductingInvestigation" >
          <button class="ButtonInvestigation" (click)="validateResponse()">Valider mes réponses</button>
          <button class="ButtonInvestigation" *ngIf="!currentInvestigationOnPage.completion && isUserConnected" (click)="saveInvestigation()">Sauvegarder mes réponses</button>
          <button class="ButtonInvestigation" (click)="abandonInvestigation()">Abandonner</button>
        </ng-container>
        <div class="NumPageRight"> Page: {{ getPage() + 1 }} </div>
      </div>
    </div>
  </div>
  <div class="RightPart">
    <button (click)="increasePage()" class="SwitchPage" [disabled]="isConductingInvestigation || getPage() >= investigations.length*2-1">
      <img alt="page icon" src="/assets/game_assets/icons_assets/inversed_return_icon.png">
    </button>
  </div>
</div>
<ng-template #explanationDialog>
  <div class="explanationDialog">
    <button (click)="CloseDialog()">X</button> <br>
    {{ currentInvestigationOnPage.explanation }}
  </div>
</ng-template>
