.menuprinci {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: linear-gradient(to right, #a52a2a, #8b4513, #a0522d, #cd853f, #8b5a2b);
  background-size: 400% 400%;
  animation: animate 20s linear infinite;
}
.menuprinci::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  z-index: -1;
}
@keyframes animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
button {
  border: none;
  outline: none;
}
.principal{
  margin-top: 10%;
}
h1.titremenu{
  font-size: 300%;
}
.menubutton {
  cursor: pointer;
  margin: 0.8%;
  font-size: 200%;
  background-color: transparent;
}
