.mainMenuContainer {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../../assets/MenuBackground.png");
  background-size: cover;
}

.mainMenuContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  filter: blur(4px);
  z-index: -1;
}

.mainContent{
  background-color: brown;
  position: absolute;
  top: 0;
  bottom: 0;
  text-align: center;
  background-color: rgba(139, 69, 19, 0.8);
  left: 5%;
  right: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  outline: none;
}

.menuTitle {
  font-size: 300%;
  margin-bottom: 15%;
}

.menuButton {
  cursor: pointer;
  margin: 10px;
  font-size: 200%;
  background-color: transparent;
  color: white;
}



