<div *ngIf="!isContentVisible" class="mainMenuContainer">
  <div class="mainContent">
    <h1 class="menuTitle">Menu</h1>
    <button class="menuButton" (click)="toggleContent()">Continuer</button><br>
    <button class="menuButton" (click)="toggleContent()">Commencer</button><br>
    <button class="menuButton">Tutoriel</button><br>
    <button class="menuButton">Quitter</button><br>
  </div>
</div>

<div *ngIf="isContentVisible">
  <menu-lateral (contentToggled)="onContentToggled()"></menu-lateral>
</div>
