.dialog{
  display: flex;
  flex-direction: row;
}

.media_on_board {
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  position: absolute;
  background: #fff;
  width: inherit;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
}

.stamp {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
}

.picture {
  width: 80%;
  height: 80%;
}

.media_on_board:hover {
  opacity: 0.5;
}

.media {
  height: 25vw;
}

.vbox{
  display: flex;
  flex-direction: column;
}

.button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    image-rendering: pixelated;
    width: 4vw;
}

.button img{
  width: 100%;
  height: 100%;
}

.button.V img:hover{
  -webkit-filter: drop-shadow(0 0 0.5vw green);
}

.button.X img:hover{
  -webkit-filter: drop-shadow(0 0 0.5vw red);
}
