.MainPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  justify-content: center;
  background-image: none;
  z-index: -1;
  overflow: hidden;
}

.MainPage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/FondTestLivre.png");
  filter: blur(4px);
  z-index: -1;
}

.Book{
  display: flex;
}

.LeftPart, .RightPart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.LeftPage{
  width:50%;
  background-image: url("../../assets/LivrePixelRightPage.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.description{
  font-size: 130%;
}

.NumPageLeft{
  text-align: left;
}

.RightPage{
  width:50%;
  background-image: url("../../assets/LivrePixelLeftPage.png");
  background-size: contain;
  background-repeat: no-repeat;
}

img.verif {
  background-color: gray;
  border: black;
  width: 100px;
  height: 100px;
}

.NumPageRight{
  text-align: right;
}












