<div class="PagePrincipale">
  <div class="livre" [style.width.%]="30" [style.height.%]="30">

    Titre : {{ titre }} <br>
    Description : {{ description }} <br>
    Enquetes en cours : {{ enquetesList[CurrentEnquete].titre}} <br>
      {{messagecorrection}} <br>

    Enquetes deja faite :
      <div *ngIf="enquetesList[page].reussite">
          <img src="../../assets/CeckVert.png" alt="" class="verif">
      </div>
      <div *ngIf="!enquetesList[page].reussite">
          <img src="../../assets/CroixRouge.png" alt="" class="verif">
      </div>
      <br>

      <button *ngIf="!DoingAEnquete" (click)="SelectionEnquete()">Selectioner </button> <br>
      <button *ngIf="DoingAEnquete" (click)="ValidationReponse()">Valider mes réponses</button> <br>
      <button *ngIf="DoingAEnquete" (click)="AbandonEnquete()">Abandonner</button> <br>

      <div  class="footer">
          Page : {{ page }} <br>
        <div *ngIf="!DoingAEnquete">
          <button id="PagePrécedente" (click)="LessPage()">Page précedente</button>
          <button id="PageSuivante" (click)="PlusPage()">Page suivante</button>
        </div>
      </div>
  </div>
</div>
