<div class="folder" [style.width.px]="width" [style.height.px]="height">
  <div class="folder-top"><button id="back-button" routerLink="../" class="back-button">×</button></div>
  <div class="folder-header">
    <button class="tabs" (click)="showInvestigation()">Enquêtes</button>
    <button class="tabs" (click)="showUsers()">Utilisateurs</button>
    <button class="tabs" (click)="showMedia()">Médias</button>
    <button class="tabs" (click)="showWebsite()">Sites Internet</button>
  </div>
  <div class="folder-content">


    <!--Partie Enquêtes-->
    <div *ngIf="investigationVisible && !usersVisible && !mediaVisible && !websiteVisible" style="display: flex">
      <div class="investigation-list" [style.width.px]="width*0.30">
        <div class="header-block"><h3>Liste des Enquêtes</h3></div>
        <div class="button-list">
          <ng-container *ngIf="(investigations | async) as investigations">
            <button *ngFor="let investigation of investigations" class="button-investigation"
                    (click)="clickInvestigation(investigation)">{{ investigation.title }}</button>
          </ng-container>
        </div>
        <div class="add-investigation">
          <button class="add-button" (click)="openInvestigationCreate()">Ajouter une enquête</button>
        </div>
      </div>
      <div class="investigation-details">
        <div *ngIf="currentInvestigation.getValue() === null && !showInvestigationCreate">
          <h3>Selectionnez une enquête</h3>
        </div>
        <div *ngIf="currentInvestigation.getValue() !== null && !showInvestigationDetails
        && !showInvestigationUpdate && !showInvestigationCreate && !showAddWebsite && !showRemoveWebsite && !showRemoveMedia && !showAddMedia">
          <h3>{{ currentInvestigation.getValue()?.title }}</h3>
          <div class="actions">
            <button class="action" (click)="openInvestigationDetails()">Voir les informations</button>
            <button class="action" (click)="openInvestigationUpdate()">Modifier l'enquête</button>
            <button class="action" (click)="deleteCurrentInvestigation()">Supprimer l'enquête</button>
            <button class="action" (click)="openAddMedia()">Ajouter un média à l'enquête</button>
            <button class="action" (click)="openAddWebsite()">Ajouter un site internet à l'enquête</button>
            <button class="action" (click)="openRemoveMedia()">Enlever un média à l'enquête</button>
            <button class="action" (click)="openRemoveWebsite()">Enlever un site internet à l'enquête</button>
          </div>
        </div>
        <div *ngIf="currentInvestigation.getValue() !== null && showInvestigationDetails && !showInvestigationMedia && !showInvestigationWebsite">
          <div class="investigation-details">
            <div class="investigation-details-header">
              <h3>{{ currentInvestigation.getValue()?.title }}</h3>
              <button class="close-button" (click)="closeInvestigationDetails()">Retour</button>
            </div>
            <div class="investigation-details-content">
              <div class="investigation-details-block">
                <h4>Informations</h4>
                <p><strong>Description : </strong>{{ currentInvestigation.getValue()?.description }}</p>
                <p><strong>Type de tableau : </strong>{{ currentInvestigation.getValue()?.board_type }}</p>
                <p><strong>Explication de l'enquête : </strong>{{ currentInvestigation.getValue()?.explanation }}</p>
                <div class="investigation-details-actions">
                  <button class="action" (click)="openInvestigationMedias()">Voir les médias de l'enquête</button>
                  <button class="action" (click)="openInvestigationWebsites()">Voir les sites internets de l'enquête</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="currentInvestigation.getValue() !== null && showInvestigationDetails && showInvestigationMedia && !showInvestigationWebsite">
          <div class="investigation-details">
            <div class="investigation-details-header">
              <h3>{{ currentInvestigation.getValue()?.title }}</h3>
              <button class="close-button" (click)="closeInvestigationMedias()">Retour</button>
            </div>
            <div class="investigation-details-content">
              <div class="investigation-details-block">
                <h4>Médias</h4>
                <div class="website-list">
                  <ng-container *ngIf="(mediasOfCurrentInvestigation | async) as medias">
                    <ul>
                      <li *ngFor="let media of medias" class="button-investigation">{{ media.description }}</li>
                    </ul>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="currentInvestigation.getValue() !== null && showInvestigationDetails && !showInvestigationMedia && showInvestigationWebsite">
          <div class="investigation-details">
            <div class="investigation-details-header">
              <h3>{{ currentInvestigation.getValue()?.title }}</h3>
              <button class="close-button" (click)="closeInvestigationWebsites()">Retour</button>
            </div>
            <div class="investigation-details-content">
              <div class="investigation-details-block">
                <h4>Sites Internet</h4>
                <div class="website-list">
                  <ng-container *ngIf="(websitesOfCurrentInvestigation | async) as websites">
                    <ul>
                      <li *ngFor="let website of websites" class="button-investigation">{{ website.title }}</li>
                    </ul>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="currentInvestigation.getValue() !== null && showInvestigationUpdate">
          <div class="investigation-update">
            <div class="investigation-update-header">
              <h3>Modifier {{ currentInvestigation.getValue()?.title }}</h3>
              <button class="close-button" (click)="closeInvestigationUpdate()">Retour</button>
            </div>
            <div class="investigation-update-content">
              <div class="investigation-update-block">
                <h4>Informations</h4>
                <form [formGroup]="UpdateInvestigationForm">
                  <label for="update_title">Titre</label>
                  <input type="text" id="update_title" name="title" placeholder="Titre" formControlName="update_title" [value]="currentInvestigation.getValue()?.title">
                  <label for="update_description">Description</label>
                  <input type="text" id="update_description" name="description" placeholder="Description" formControlName="update_description" [value]="currentInvestigation.getValue()?.description">
                  <div class="radio-input">
                    <label>Type de tableau</label>
                    <input type="radio" id="update_draggable" name="update_board_type" value="DRAGGABLE" formControlName="update_board_type">
                    <label for="draggable">Glisser-déposer</label>
                    <input type="radio" id="update_table" name="update_board_type" value="VALIDABLE" formControlName="update_board_type">
                    <label for="table">Validation</label>
                  </div>
                  <label for="update_explanation">Explication de l'enquête</label>
                  <input type="text" id="update_explanation" name="explanation" placeholder="Explication de l'enquête" formControlName="update_explanation" [value]="currentInvestigation.getValue()?.explanation">
                  <div class="investigation-update-actions">
                    <button class="action" (click)="updateCurrentInvestigation()">Modifier</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="currentInvestigation.getValue() === null && showInvestigationCreate">
          <div class="investigation-create">
            <div class="investigation-create-header">
              <h3>Ajouter une enquête</h3>
              <button class="close-button" (click)="closeInvestigationCreate()">Retour</button>
            </div>
            <div class="investigation-create-content">
              <div class="investigation-create-block">
                <h4>Informations</h4>
                <form [formGroup]="CreateInvestigationForm">
                  <label for="create_title">Titre</label>
                  <input type="text" id="create_title" name="title" placeholder="Titre" formControlName="create_title">
                  <label for="create_description">Description</label>
                  <input type="text" id="create_description" name="description" placeholder="Description" formControlName="create_description">
                  <div class="radio-input">
                    <label>Type de tableau</label>
                    <input type="radio" id="draggable" name="create_board_type" value="DRAGGABLE" formControlName="create_board_type">
                    <label for="draggable">Glisser-déposer</label>
                    <input type="radio" id="table" name="create_board_type" value="VALIDABLE" formControlName="create_board_type">
                    <label for="table">Validation</label>
                  </div>
                  <label for="create_explanation">Explication de l'enquête</label>
                  <input type="text" id="create_explanation" name="explanation" placeholder="Explication de l'enquête" formControlName="create_explanation">
                  <div class="investigation-create-actions">
                    <button class="action" (click)="createInvestigation()">Ajouter</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="currentInvestigation.getValue() !== null && showAddWebsite">
          <div class="add-website">
            <div class="add-website-header">
              <h3>Ajouter un site internet à {{ currentInvestigation.getValue()?.title }}</h3>
              <button class="close-button" (click)="closeAddWebsite()">Retour</button>
            </div>
            <div class="add-website-content">
              <div class="add-website-block">
                <h4>Sites Internet</h4>
                <div class="website-list">
                  <ng-container *ngIf="(websites | async) as websites">
                    <form [formGroup]="AddWebsiteForm">
                      <select formControlName="website_id">
                        <option value="0" disabled selected hidden>Choisissez un site</option>
                        <option *ngFor="let website of websites" [value]="website.id">{{ website.title }}</option>
                      </select>
                      <button class="action" (click)="linkWebsiteToInvestigation()">Ajouter le site à l'enquête</button>
                    </form>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="currentInvestigation.getValue() !== null && showRemoveWebsite">
          <div class="remove-website">
            <div class="remove-website-header">
              <h3>Enlever un site internet à {{ currentInvestigation.getValue()?.title }}</h3>
              <button class="close-button" (click)="closeRemoveWebsite()">Retour</button>
            </div>
            <div class="remove-website-content">
              <div class="remove-website-block">
                <h4>Sites Internet</h4>
                <div class="website-list">
                  <ng-container *ngIf="(websitesOfCurrentInvestigation | async) as websites">
                    <form [formGroup]="RemoveWebsiteForm">
                      <select formControlName="website_id">
                        <option value="0" disabled selected hidden>Choisissez un site</option>
                        <option *ngFor="let website of websites" [value]="website.id">{{ website.title }}</option>
                      </select>
                      <button class="action" (click)="removeWebsiteFromInvestigation()">Enlever le site à l'enquête</button>
                    </form>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="currentInvestigation.getValue() !== null && showAddMedia">
          <div class="add-media">
            <div class="add-media-header">
              <h3>Ajouter un média à {{ currentInvestigation.getValue()?.title }}</h3>
              <button class="close-button" (click)="closeAddMedia()">Retour</button>
            </div>
            <div class="add-media-content">
              <div class="add-media-block">
                <h4>Médias</h4>
                <div class="website-list">
                  <ng-container *ngIf="(medias | async) as medias">
                    <form [formGroup]="AddMediaForm">
                      <select formControlName="media_id">
                        <option value="0" disabled selected hidden>Choisissez un média</option>
                        <option *ngFor="let media of medias" [value]="media.id">{{ media.description }}</option>
                      </select>
                      <button class="action" (click)="OpenDialogForPos()">Ajouter le média à l'enquête</button>
                    </form>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="currentInvestigation.getValue() !== null && showRemoveMedia">
          <div class="remove-media">
            <div class="remove-media-header">
              <h3>Enlever un média à {{ currentInvestigation.getValue()?.title }}</h3>
              <button class="close-button" (click)="closeRemoveMedia()">Retour</button>
            </div>
            <div class="remove-media-content">
              <div class="remove-media-block">
                <h4>Médias</h4>
                <div class="website-list">
                  <ng-container *ngIf="(mediasOfCurrentInvestigation | async) as medias">
                    <form [formGroup]="RemoveMediaForm">
                      <select formControlName="media_id">
                        <option value="0" disabled selected hidden>Choisissez un média</option>
                        <option *ngFor="let media of medias" [value]="media.id">{{ media.description }}</option>
                      </select>
                      <button class="action" *ngFor="let media of medias" (click)="removeMediaFromInvestigation(media)">Enlever le média à l'enquête</button>
                    </form>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!--Partie Utilisateurs-->
    <div *ngIf="usersVisible && !investigationVisible && !mediaVisible && !websiteVisible" style="display: flex">
      <div class="investigation-list" [style.width.px]="width*0.30">
        <div class="header-block"><h3>Liste des Utilisateurs</h3></div>
        <div class="button-list">
          <ng-container *ngIf="(users | async) as users">
            <button *ngFor="let user of users" class="button-investigation" (click)="clickUser(user)">{{ user.name }}</button>
          </ng-container>
        </div>
      </div>
      <div class="investigation-details">
        <div *ngIf="currentUser.getValue() === null">
          <h3>Selectionnez un utilisateur</h3>
        </div>
        <div *ngIf="currentUser.getValue() !== null && !showUserDetails">
          <h3>{{ currentUser.getValue()?.name }}</h3>
          <div class="actions">
            <button class="action" (click)="openUserDetails()">Voir les informations</button>
            <button *ngIf="currentUser.getValue()?.isBlocked" class="action"
                    (click)="unblockCurrentUser()">Débloquer l'utilisateur</button>
            <button *ngIf="!currentUser.getValue()?.isBlocked" class="action"
                    (click)="blockCurrentUser()">Bloquer l'utilisateur</button>
            <button *ngIf="!currentUser.getValue()?.isAdmin" class="action"
                    (click)="promoteCurrentUser()">Promouvoir en administrateur</button>
            <button class="action" (click)="deleteCurrentUser()">Supprimer l'utilisateur</button>
          </div>
        </div>
        <!--Afficahge des informations de l'utilisateur-->
        <div *ngIf="currentUser.getValue() !== null && showUserDetails">
          <div class="user-details">
            <div class="user-details-header">
              <h3>{{ currentUser.getValue()?.name }}</h3>
              <button class="close-button" (click)="closeUserDetails()">Retour</button>
            </div>
            <div class="user-details-content">
              <div class="user-details-block">
                <h4>Informations</h4>
                <p><strong>Email : </strong>{{ currentUser.getValue()?.email }}</p>
                <p><strong>Role : </strong>{{ currentUser.getValue()?.isAdmin ? 'Administrateur' : 'Utilisateur' }}</p>
                <p><strong>Statut : </strong>{{ currentUser.getValue()?.isBlocked ? 'Bloqué' : 'Actif' }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Partie Médias-->
    <div *ngIf="mediaVisible && !investigationVisible && !usersVisible && !websiteVisible" style="display: flex">
      <div class="investigation-list" [style.width.px]="width*0.30">
        <div class="header-block"><h3>Liste des médias</h3></div>
        <div class="button-list">
          <ng-container *ngIf="(medias | async) as medias">
            <button *ngFor="let media of medias" class="button-investigation" (click)="clickMedia(media)">{{ media.description }}</button>
          </ng-container>
        </div>
        <div class="add-investigation">
          <button class="add-button" (click)="openMediaCreate()">Ajouter un média</button>
        </div>
      </div>
      <div class="investigation-details">
        <div *ngIf="currentMedia.getValue() === null && !showMediaCreate">
          <h3>Selectionnez un média</h3>
        </div>
        <div *ngIf="currentMedia.getValue() !== null && !showMediaDetails && !showMediaCreate && !showMediaUpdate">
          <h3>{{ currentMedia.getValue()?.description }}</h3>
          <div class="actions">
            <button class="action" (click)="openMediaDetails()">Voir les informations</button>
            <button class="action" (click)="openMediaUpdate()">Modifier le média</button>
            <button class="action" (click)="deleteCurrentMedia()">Supprimer le média</button>
          </div>
        </div>
        <div *ngIf="currentMedia.getValue() !== null && showMediaDetails">
          <div class="media-details">
            <div class="media-details-header">
              <h3>{{ currentMedia.getValue()?.description }}</h3>
              <button class="close-button" (click)="closeMediaDetails()">Retour</button>
            </div>
            <div class="media-details-content">
              <div class="media-details-block">
                <h4>Informations</h4>
                <p><strong>Type : </strong>{{ currentMedia.getValue()?.type }}</p>
                <p><strong>Media de confiance : </strong>{{ currentMedia.getValue()?.trustWorthy ? "Oui" : "Non"}}</p>
                <div class="media-img-block">
                  <p><strong>Image dans le tableau : </strong></p>
                  <img class="img-detail" [src]="currentMedia.getValue()?.picture" alt="image">
                  <p><strong>Media :</strong></p>
                  <div *ngIf="currentMedia.getValue()?.type === 'video'">
                    <video width="480" height="360" controls>
                      <source [src]="currentMedia.getValue()?.link" type="video/mp4">
                    </video>
                  </div>
                  <div *ngIf="currentMedia.getValue()?.type === 'img'">
                    <img class="img-detail" [src]="currentMedia.getValue()?.link" alt="image">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="currentMedia.getValue() !== null && showMediaUpdate">
          <div class="media-update">
            <div class="media-update-header">
              <h3>Modifier {{ currentMedia.getValue()?.description }}</h3>
              <button class="close-button" (click)="closeMediaUpdate()">Retour</button>
            </div>
            <div class="media-update-content">
              <div class="media-update-block">
                <h4>Informations</h4>
                <form [formGroup]="UpdateMediaForm">
                  <label for="update_description">Description</label>
                  <input type="text" id="update_description_media" name="update_description_media" placeholder="Description" formControlName="update_description_media" [value]="currentMedia.getValue()?.description">
                  <div class="radio-input">
                    <label>Type de média</label>
                    <input type="radio" id="update_type_media_img" name="update_type_media" value="img" formControlName="update_type_media">
                    <label for="update_type_media_img">Image</label>
                    <input type="radio" id="update_type_media_vid" name="update_type_media" value="video" formControlName="update_type_media">
                    <label for="update_type_media_vid">Vidéo</label>
                  </div>
                  <label for="update_isTrustworthy_media">Media de confiance</label>
                  <input type="checkbox" id="update_isTrustworthy_media" name="trustWorthy" formControlName="update_isTrustworthy_media" [checked]="currentMedia.getValue()?.trustWorthy">
                  <label for="update_link">Lien</label>
                  <input type="file" id="update_link" name="picture" accept="image/*" (change)="UpdateLinkOnFileSelected($event)">
                  <label for="update_picture">Image sur le tableau</label>
                  <input type="file" id="update_picture" name="picture" accept="image/*" (change)="UpdatePictureOnFileSelected($event)">
                  <div class="media-update-actions">
                    <button class="action" (click)="updateCurrentMedia()">Modifier</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="currentMedia.getValue() == null && showMediaCreate">
          <div class="media-create">
            <div class="media-create-header">
              <h3>Ajouter un média</h3>
              <button class="close-button" (click)="closeMediaCreate()">Retour</button>
            </div>
            <div class="media-create-content">
              <div class="media-create-block">
                <h4>Informations</h4>
                <form [formGroup]="CreateMediaForm">
                  <label for="create_description_media">Description</label>
                  <input type="text" id="create_description_media" name="description" placeholder="Description" formControlName="create_description_media" required>
                  <div class="radio-input">
                    <label>Type de média</label>
                    <input type="radio" id="create_type_media_img" name="create_type_media" value="img" formControlName="create_type_media">
                    <label for="create_type_media_img">Image</label>
                    <input type="radio" id="create_type_media_vid" name="create_type_media" value="video" formControlName="create_type_media">
                    <label for="create_type_media_vid">Vidéo</label>
                  </div>
                  <label for="create_isTrustworthy_media">Media de confiance</label>
                  <input type="checkbox" id="create_isTrustworthy_media" name="trustWorthy" formControlName="create_isTrustworthy_media">
                  <label for="create_link">Lien</label>
                  <input type="file" id="create_link" name="link" accept="image/*" (change)="CreateLinkOnFileSelected($event)" required>
                  <label for="create_picture">Image sur le tableau</label>
                  <input type="file" id="create_picture" name="picture" accept="image/*" (change)="CreatePictureOnFileSelected($event)" required>
                  <div class="media-create-actions">
                    <button class="action" (click)="createMedia()">Ajouter</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!--Partie Sites Internet-->
    <div *ngIf="websiteVisible && !investigationVisible && !usersVisible && !mediaVisible" style="display: flex">
      <div class="investigation-list" [style.width.px]="width*0.30">
        <div class="header-block"><h3>Liste des sites</h3></div>
        <div class="button-list">
          <ng-container *ngIf="(websites | async) as websites">
            <button *ngFor="let website of websites" class="button-investigation" (click)="clickWebsite(website)">{{ website.title }}</button>
          </ng-container>
        </div>
        <div class="add-investigation">
          <button class="add-button" (click)="openWebsiteCreate()">Ajouter un site</button>
        </div>
      </div>
      <div class="investigation-details">
        <div *ngIf="currentWebsite.getValue() === null && !showWebsiteCreate">
          <h3>Selectionnez un site</h3>
        </div>
        <div *ngIf="currentWebsite.getValue() !== null && !showWebsiteDetails && !showWebsiteUpdate">
          <h3>{{ currentWebsite.getValue()?.title }}</h3>
          <div class="actions">
            <button class="action" (click)="openWebsiteDetails()">Voir les informations</button>
            <button class="action" (click)="openWebsiteUpdate()">Modifier le site</button>
            <button class="action" (click)="deleteCurrentWebsite()">Supprimer le site</button>
          </div>
        </div>
        <div *ngIf="currentWebsite.getValue() !== null && showWebsiteDetails">
          <div class="website-details">
            <div class="website-details-header">
              <h3>{{ currentWebsite.getValue()?.title }}</h3>
              <button class="close-button" (click)="closeWebsiteDetails()">Retour</button>
            </div>
            <div class="website-details-content">
              <div class="website-details-block">
                <h4>Informations</h4>
                <p><strong>URL : </strong>{{ currentWebsite.getValue()?.link }}</p>
                <p><strong>Image : </strong></p>
                <img class="img-detail" [src]="currentWebsite.getValue()?.icon" alt="image">
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="currentWebsite.getValue() !== null && showWebsiteUpdate">
          <div class="website-update">
            <div class="website-update-header">
              <h3>Modifier {{ currentWebsite.getValue()?.title }}</h3>
              <button class="close-button" (click)="closeWebsiteUpdate()">Retour</button>
            </div>
            <div class="website-update-content">
              <div class="website-update-block">
                <h4>Informations</h4>
                <form [formGroup]="UpdateWebsiteForm">
                  <label for="update_title_website">Titre</label>
                  <input type="text" id="update_title_website" name="title" placeholder="Titre" formControlName="update_title_website" [value]="currentWebsite.getValue()?.title">
                  <label for="update_link_website">Lien</label>
                  <input type="text" id="update_link_website" name="link" placeholder="Lien" formControlName="update_link_website" [value]="currentWebsite.getValue()?.link">
                  <label for="update_icon_w">Icone</label>
                  <input type="file" id="update_icon_w" name="icon" accept="image/*" (change)="updateOnFileSelected($event)">
                  <div class="website-update-actions">
                    <button class="action" (click)="updateCurrentWebsite()">Modifier</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="currentWebsite.getValue() == null && showWebsiteCreate">
          <div class="website-create">
            <div class="website-create-header">
              <h3>Ajouter un site</h3>
              <button class="close-button" (click)="closeWebsiteCreate()">Retour</button>
            </div>
            <div class="website-create-content">
              <div class="website-create-block">
                <h4>Informations</h4>
                <form [formGroup]="CreateWebsiteForm">
                  <label for="create_title_w">Titre</label>
                  <input type="text" id="create_title_w" name="title" placeholder="Titre" formControlName="create_title_w" required>
                  <label for="create_link_w">Lien</label>
                  <input type="text" id="create_link_w" name="link" placeholder="Lien" formControlName="create_link_w" required>
                  <label for="create_icon_w">Icone</label>
                  <input type="file" id="create_icon_w" name="icon" accept="image/*" (change)="CreateOnFileSelected($event)" required>
                  <div class="website-create-actions">
                    <button class="action" (click)="createWebsite()">Ajouter</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
