<div class="office">
  <div class="desk" [class.zoomed]="isComputerZoomed">
    <button class="computer" (click)="zoomComputerAndChangePage()">
      <img src="/assets/computer.png" alt="Ordinateur"/>
    </button>
    <button class="book" (click)="openDialog()"><img src="/assets/book.png" alt="Livre d'enquêtes"/></button>
    <button [routerLink]="'./board'" class="board"><img src="/assets/board.png" alt="Tableau"/></button>
    <div class="bonsai" (click)="shakeBonsai()"><img src="/assets/bonsai.png" alt="Arbre qui secoue lorsque l'on clique avec la souris et qui est pas mal"/></div>
  </div>
  <div class="score-chrono-box" (click)="openScoreWindow()">
    <div class="score">
      <p id="score">Score : {{ getScore() }}</p>
    </div>
    <div class="chrono">
      <p id="chrono">Temps : {{ getElapsedTime() }}</p>
    </div>
  </div>
</div>
