<div class="office">
  <div class="desk" [class.zoomed]="isComputerZoomed">
    <button class="computer" (click)="zoomComputerAndChangePage()">
      <img src="/assets/computer.png" alt="Ordinateur"/>
    </button>
    <button class="book" (click)="openDialog()"><img src="/assets/book.png" alt="Livre d'enquêtes"/></button>
    <button [routerLink]="'./board'" class="board"><img src="/assets/board.png" alt="Tableau"/></button>
    <div class="bonsai" (click)="shakeBonsai()"><img src="/assets/bonsai.png" alt="Arbre qui secoue lorsque l'on clique avec la souris et qui est pas mal"/></div>
  </div>
</div>
