.board {
  position: relative; /* à garder, nécéssaire pour placer les médias dans le tableau */
  left: 20px;
  background-color: #000000;
}

.mediaLocation{
  position: absolute;
  aspect-ratio : 1 / 1;
  background-color: green;
}
