.score-chrono-window {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(255,255,255,0.5);
    overflow-y: auto;
    padding: 10px; 
    border: 2px solid black;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.invest-num, .list-element {
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
}

.invest-num {
    background-color: rgba(169, 224, 66, 0.8);
}

.list-element { 
    background-color: rgba(255, 255, 255, 0.8);  
    transition: background-color 0.3s ease;
}

.list-element:hover {
    background-color: rgba(68, 204, 238, 0.75);
}

@media screen and (orientation: landscape) {
    .score-chrono-window {
        left: 30%;
        top: 30%;
        width: 40%;
        height: 40%;
    }

    .invest-num {
        font-size: 5vh;
    }

    .list-element {
        font-size: 4vh;
    }
}

@media screen and (orientation: portrait) {
    .score-chrono-window {
        left: 10%;
        top: 40%;
        width: 80%;
        height: 20%;
    }

    .invest-num {
        font-size: 3vh;
    }

    .list-element {
        font-size: 2vh;
    }
}
