.instructions-dialog {
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.instruction-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.element-icon {
  margin-right: 10px;
}

.element-description {
  flex-grow: 1;
}

.element-description h3 {
  margin-bottom: 5px;
}

.element-description p {
  margin: 0;
  color: #555;
}

@media screen and (orientation: landscape) {
  @media screen and (max-width: 600px) {
    .instructions-dialog {
      min-width: 300px;
    }
  }

  .element-icon, .element-description h3 {
    font-size: 4vh;
  }

  .element-description p {
    font-size: 3vh;
  }
}

@media screen and (orientation: portrait) {
  .element-icon, .element-description h3 {
    font-size: 3vh;
  }

  .element-description p {
    font-size: 2vh;
  }
}
